.wrapper{
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
  height: 100%;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
line-height: 160%;
}
.button{
padding: 10px 30px;
font-size: 16px;
line-height: 150%;
text-align: center;
border-radius: 50px;
}
/* .......................................................... */
.header{
  background-image: url("./main-screen__bgc.jpg");
  max-width:1920px;
  height: 830px;
}
.header-top{
 display: flex;
 justify-content: space-between;
}
.header-top-logo {
  margin: 40px 0 0 80px;
}
.header-top-links {
  margin-top: 48px;
  
}
.header-top-links-main {
  display: flex;
}
.header-top-links-nain-element{
  margin-left: 56px;
  line-height: 150%;
}
.header-top-links-nain-element:last-child{
  margin-left: 0;
}
.header-button{
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.header-top-button {
  margin: 38px 80px 0 0;
}
.header-mid {
  margin-top: 198px;
}
.header-mid__parahraph {
  font-weight: 700;
  font-size: 64px;
line-height: 140%;
width: 920px;
}
.header-mid__table {
  margin-top: 50px;
  display: flex;
}
.header-mid_table-element {
  margin-right: 30px;
  text-align: center;
  padding: 20px 30px;
  background: #121212;
}
.header-mid_table-element:last-child {
  margin-right: 0;
}
.header-mid_table-element__numbers {
  font-weight: 700;
font-size: 36px;
line-height: 140%;
}
.header-mid_table-element__words {
  line-height: 140%;
  opacity: 0.4;
}
/* ........................................................ */
.course {
  background: #121212;
}
.course-main{
  width: 1920px;
 height: 130px; 
display: flex;
}
.course-botton {
  margin-right: 81px;
}
.course-botton-main{
margin-top: 43px;
background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
color: #FFFFFF;
}
.course-info-1row{
  display: flex;
  margin-top: 36px;
  margin-bottom: 10px;
}
.course-info-vsego, .course-info-zarab{
  display: flex;
}
.course-info-vsego{
width: 260px;
  justify-content: space-between;
}
.course-info-zarab{
  margin-left: 81px;
}
.course-margin{
  margin-right: 30px;
}
.course-info-words {
  line-height: 150%;
  opacity: 0.4;
}
.course-info-num {
  font-weight: 700;
  line-height: 150%;
}
.course-info-2row{
  display: flex;
}
.course-info-end, .course-info-bothr{
  display: flex;
}
.course-info-end__words{
  margin-right: 40px;
}
.course-info-line{
  margin-left: 81px;
  width: 714px;
}
.course-info-line__words{
  margin-top: 5px;
}
.course-info-bothr{
  justify-content: space-between;
}
.course-info-hr{
  height: 6px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
/* ................................................... */
.body{
  background-image: url("./bgc.jpg");
}
.whome {
  display: flex;
  margin-top: 200px;
}
.whome-img {
  margin-right: 134px;
  display: flex;
}
.whome-img-2 {
  position: absolute;
  margin: 96px 40px 0 40px;
}
.whome-text {
  margin-top: 96px;
}
.whome-text-header {
  font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.whome-text-paragraph {
  margin-top: 45px;
  width: 636px;;
}
.fast-start {
  margin-top: 200px;
}
.fast-start-imgh {
  margin-left: 5px;
  display: flex;
}
.fast-start-img {
  margin-right: 20px;
}
.fast-start-header {
  margin-top: 10px;
  font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.fast-start-paragraph {
  opacity: 0.5;
  margin-top: 50px;
  width: 400px;
}
.page2{
  margin-top: 80px;
}
.procent {
  display: flex;
}
.procent-paragraph {
  font-weight: 700;
font-size: 36px;
line-height: 140%;
width: 324px;
}
.big-line {
  display: flex;
  align-items: center;
}
.big-line-element1 {
  width: 324px;
  height: 80px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.big-line-element2 {
  width: 324px;
  height: 60px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.big-line-element3 {
  width: 324px;
  height: 30px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.big-line-element4 {
  width: 324px;
  height: 10px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.under-line-paragraphs {
  display: flex;
  margin-top: 35px;
}
.under-line-paragraph {
  width: 304px;
  font-size: 14px;
  opacity: 0.5;
  margin-right: 20px;
}
.under-line-paragraph:last-child{
  margin-right: 0;
}
.page2-header {
  margin-top: 200px;
  font-weight: 700;
font-size: 48px;
line-height: 140%;
text-align: center;
}
.page2-about {
  margin-top: 120px;
  display: flex;
}
.page2-about-element {
  width: 360px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page2-about-element-scr {
  margin-bottom: 60px;
}
.page2-about-element-p1 {
  font-weight: 500;
font-size: 24px;
line-height: 140%;
text-align: center;
width: 325px;
}
.page2-about-element-p2 {
  margin-top: 30px;
  opacity: 0.8;
  text-align: center;
}
.page3 {
  margin-top: 231px;
}
.page3-header {
  display: flex;
}
.page3-header__img {
  margin-right: 52px;
}
.page3-header__paragraph {
  font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.page3-table {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.page3-table-scr {
  width: 324px;
  height: 151px;
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF; 
}
.page3-table-scr-r{
  border-right: none;
}
.page3-table-scr-b{
  border-bottom: none;
}
.page3-table-scr-margin{
margin: 29px 66px;
}
.page4 {
  margin-top: 243px;
}
.page4-img {
  text-align: center;
}
.page4-header {
  font-weight: 700;
font-size: 48px;
line-height: 140%;
text-align: center;
margin-top: 76px;
margin-bottom: 30px;
}
.page4-paragraph {
  opacity: 0.5;
  width: 400px;
  margin: auto;
  text-align: center;
}
.page4-tables{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.page4-left-table{
  width: 230px;
  text-align: right;
  margin-right: 20px;
}
.page4-left-table-element__week{
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 15px;
}
.page4-left-table-element__paragraph{
  font-size: 18px;
  margin-bottom: 85px;
}
/*  */
.page4-mid-table{
  width: 80px;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
}
.page4-mid-table-element{
  width: 40px;
}
.table-element1{
  width: 40px;
  height: 60px;
  border-right: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element2{
  height: 60px;
  border-left: 3px solid #C89AFC;
}
.table-element3{
  width: 40px;
  height: 87px;
  border-right: 3px solid #C89AFC;
}
.table-element4{
  width: 40px;
  height: 87px;
  border-left: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element5{
  width: 40px;
  height: 90px;
  border-right: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element6{
  width: 40px;
  height: 90px;
  border-left: 3px solid #C89AFC;
}
.table-element7{
  width: 40px;
  height: 87px;
  border-right: 3px solid #C89AFC;
}
.table-element8{
  width: 40px;
  height: 87px;
  border-left: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element9{
  width: 40px;
  height: 90px;
  border-right: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element10{
  width: 40px;
  height:90px;
  border-left: 3px solid #C89AFC;
}
.table-element11{
  width: 40px;
  height: 87px;
  border-right: 3px solid #C89AFC;
}
.table-element12{
  width: 40px;
  height: 87px;
  border-left: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element13{
  width: 40px;
  height: 90px;
  border-right: 3px solid #C89AFC;
  border-bottom: 1px solid #A5A5A5;
}
.table-element14{
  width: 40px;
  height: 90px;
  border-left: 3px solid #C89AFC;
}
.table-element15{
  width: 40px;
  height: 55px;
  border-right: 3px solid #C89AFC;
}
.table-element16{
  width: 40px;
  height: 55px;
  border-left: 3px solid #C89AFC;
}
/*  */
.page4-right-table {
  width: 230px;
  text-align: left;
  margin-top: 90px;
  margin-left: 20px;
}
.page4-right-table-element__week {
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 15px;
}
.page4-tight-table-element__paragraph {
  font-size: 18px;
  margin-bottom: 85px;
}
.page5 {
  margin-top: 215px;
}
.page5-header {
  display: flex;

}
.page5-header_paragraph {
  margin: 20px 0 0 38px;
  font-weight: 700;
font-size: 48px;
line-height: 140%;
}
.page5-prepods {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
}
.page5-prepod {
  width: 350px;
}
.page5-prepod_img {
  display:block;
  margin: auto;
  margin-bottom: 40px;
}
.page5-prepod__name {
  font-weight: 500;
font-size: 24px;
line-height: 140%;
text-align: center;
margin-bottom: 15px;
}
.page5-prepod__special {
  opacity: 0.8;
  text-align: center;
  margin-bottom: 30px;
}
.page5-button {
  display:block;
  margin: auto;
}
.footer {
  margin-top: 210px;
}
.footer-header {
  font-weight: 700;
font-size: 48px;
line-height: 140%;
text-align: center;
margin-bottom: 30px;
}
.footer-paragraph {
  width: 410px;
  text-align: center;
  opacity: 0.5;
  margin: auto;
}
.footer-mail {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  }
.footer-email {
  margin-left: 25px;
  border-radius: 50px 0px 0px 50px;
  width: 350px;
height: 44px;
padding-left: 20px;
}
.footer-button {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  position: relative;
  right: 25px;
}
.footer-social {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.footer-social-margin{
  margin-left: 30px;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.footer-social-margin:first-child{
  margin-left: 0;
}
.footer-social-one {
  display: block;
  margin: auto;
  padding-top: 7px;
}
.footer-buttom-paragraph {
  margin-top: 50px;
  text-align: center;
  opacity: 0.8;
}
.footer-hr{
  margin-top: 30px;
}